$break-small: 320px;
$break-large: 1200px;

body {
  margin: 1rem;
}

// Utilities and Breakpoints

.master-container {
  max-width: 1352px;
  margin: 0 auto;
}

.nav-hor {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
}

@mixin breakpoint($device_or_width) {
  // Stolen from my supervisor, Radames
  @if $device_or_width == small {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $device_or_width == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $device_or_width == large {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $device_or_width == extra-large {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @media (min-width: $device_or_width) {
      @content;
    }
  }
}
