@import "./global.scss";

.interview-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.interview-anchor {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.interview-art-src {
  width: 100%;
  height: 223px;
  object-fit: cover;
  object-position: center middle;
  padding: 0;
  margin: 0;
}

.interview-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;

  color: white;
  background-color: rgba(0, 0, 0, 0.521);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.interview-overlay:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.interview-item {
  flex: 100%;
  display: inline;
  padding: 0 1.2rem 0 0;
  @include breakpoint(small) {
    flex: 50%;
  }
}
