@import "./global.scss";

.nav-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.head-bar {
  padding: 1rem 0 2rem 0;
  li {
    margin: 0 2.3rem 0 0rem;
    display: block;
    padding: 5px 5px 0 0;
  }
  li:not(.logo-container){
    a{
      padding: 0.4rem;
      transition: all 0.2s;
    }
    a:hover{
      transition: all 0.2s;
      background-color: black;
      color: white;
    }
  }
}

.logo-img-src {
  min-width: 6rem;
  height: 4rem;
}

.logo-container {
  min-width: 6rem;
  min-height: 4rem;
}
